html,
body { 
  height: 100%;
  line-height: 1;
  background:linear-gradient(45deg, #cdd6dd, #fface4) no-repeat;
}

.header__container{
   position: absolute;
   width: 298px;
   height: 316px;
   left: 42px;
   top: 138px;
}
main{
   font-family: Roboto;
   font-weight: bold;
   color: #000000;
}
.main__{
   position: absolute;
   font-size: 26px;
   line-height: 23px;
/* identical to box height */
   left: 189px;
   top: 159px;
   height: 23px;
}
.main__container{
   position: absolute;
   width: 239px;
   height: 54px;
   left: 110px;
   top: 400px;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   
}
.footer{
   position: absolute;
   width: 320px;
   height: 55px;
   left: 20px;
   top: 485px;
   background: linear-gradient(180deg, #A997F8 0%, #7C60FF 100%);
   box-shadow: 0px 8px 10px rgba(130, 102, 250, 0.35);
   border-radius: 15px;
}
span{
position: absolute;
height: 23px;
left: 132px;
top: 21px;
font-family: Roboto;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #000000;
}
